.firstParentDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firstChildDiv {
    width: 85%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}

.ftHeadDiv {
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
}

.ftLeftDiv {
    width: 32.55vw;
    text-align: left;
    /* background-color: blue; */
}

.ftLeftDiv>p {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.ftRightDiv {
    height: 3rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    width: 330px;
    text-align: right;
    align-items: center;
    border-radius: 10px;
    box-shadow: #00000026 0px 1.98px 0px;
}

.ftRightDiv>button {
    padding: 0px 15px;
    height: 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    align-items: center;
    text-align: center;
    color: #646A75;
    background-color: #f4f7fa;
    /* background-color: red; */

}

.ftRightDiv>:nth-child(3),
.ftRightDiv>button:hover {
    background-color: #E2E3E8;
}


.ftChartDiv {
    height: 80%;
    box-shadow: #00000026 1.99px 1.99px 2.6px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

.ftParticipants {
    text-align: left;
    padding: 0.5rem 2.5rem;
    align-items: center;
    /* background-color: red; */
}

.ftParticipantsHead {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ftParticipantsHead+p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 0px;
    align-items: center;
    margin-top: 4px;
}

.ftParticipantsHead>p:first-child {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 0px;
}

.material-symbols-outlined {
    font-size: 2.5rem;
    line-height: 0px;
    align-items: center;
}

.ftChart {
    height: 70%;
    padding: 0rem 2rem 2rem 2rem;
    /* background-color: blue; */
}


/***  Tablet media ***/

@media screen and (min-width: 427px) and (max-width: 768px) {

    .firstChildDiv {
        height: 500px;
    }

    .ftLeftDiv {
        width: 70%;
        /* background-color: blue; */
    }

    .ftLeftDiv>p {
        font-size: 1.5rem;
    }

    .ftRightDiv {
        height: 2.5rem;
        width: 28%;
    }

    .ftRightDiv>button {
        padding: 0px 5px;
        height: 1.8rem;
        font-weight: 600;
        font-size: 1rem;
    }

    .ftChartDiv {
        height: 76%;
    }

    .ftParticipants {
        padding: 0rem 2rem;

    }

    .ftParticipantsHead {
        width: 160px;
    }

    .ftParticipantsHead>p:first-child {
        font-size: 2rem;
    }

    .ftParticipantsHead+p {
        font-size: 1.2rem;
    }

    .material-symbols-outlined {
        font-size: 2rem;
    }

    .ftChart {
        height: 70%;
        padding: 0rem 2rem 0.5rem 2.1rem;
    }

}


/***  Mobile media ***/

@media screen and (max-width: 426px) {

    .firstChildDiv {
        height: 450px;
    }

    .ftLeftDiv {
        width: 70%;
    }

    .ftLeftDiv>p {
        font-size: 1.2rem;
    }

    .ftRightDiv {
        height: 2.2rem;
        width: 42%;
    }

    .ftRightDiv>button {
        padding: 0px 5px;
        height: 1.7rem;
        font-weight: 600;
        font-size: 0.7rem;
    }

    .ftChartDiv {
        height: 78%;
    }

    .ftParticipants {
        padding: 0.5rem 1.5rem 0rem 1.5rem;
    }

    .ftParticipantsHead {
        width: 130px;
    }

    .ftParticipantsHead>p:first-child {
        font-size: 1.5rem;
    }

    .ftParticipantsHead+p {
        font-size: 1rem;
        margin-top: 2px;
    }

    .material-symbols-outlined {
        font-size: 1.5rem;
    }

    .ftChart {
        height: 70%;
        padding: 0rem 1.5rem 0.5rem 1.5rem;
    }
}