.firstParentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 382px; */
    
    /* background-color: blueviolet; */
}

.firstChildDiv{
    width: 83.33vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    /* background-color: aqua; */
    
}

.ftHeadDiv{
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.ftLeftDiv{
    width : 32.55vw;
    text-align: left;

    /* background-color: blue; */
}
.ftLeftDiv > p{
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.ftRightDiv{
    margin-top: 2rem;
    height: 3rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;

    width : 21.48vw;
    text-align: right;
    align-items: center; /*To align vertically*/
    border-radius: 10px;
    box-shadow: #00000026 0px 1.98px 0px;
}

.ftRightDiv > button{
    width : 5vw;
    height: 2rem;
    /* padding: 5px 10px; */
    border-radius: 10px;
    border: none;
    cursor: pointer;


    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    align-items: center; /*To align vertically*/
    text-align: center;
    color: #646A75;
    background-color: #F8F9FA;
    /* background-color: red; */
    
}


.ftChartDiv{
    height: 80%;
    box-shadow: #00000026 1.99px 1.99px 2.6px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    
    /* background-color: thistle; */
    
    
}

.ftParticipants{
    text-align: left;
    padding: 0.5rem 2.5rem ;
    /* background-color: red; */
    align-items: center;
}

.ftParticipants > p{
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 0px;
    align-items: center;
}

.ftParticipants > p:first-child{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 0px;
    /* background-color:rebeccapurple; */

}

.material-symbols-outlined {
  font-size: 2.5rem;
  line-height: 0px;
  /* background-color:rebeccapurple; */
  align-items: center;
}

.ftChart{
    /* background-color: darkred; */
    height: 70%;
    /* padding : 2rem; */
}
